# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Build results
[Dd]ebug/
[Rr]elease/
[Oo]bj/

.vs/QFGreenBean/v14/.suo
.vs/QFGreenBean/v14/.suo
.vs/config/applicationhost.config
.vs/config/applicationhost.config
QFGreenBean/Properties/PublishProfiles/greenbean - FTP.pubxml
QFGreenBean/Properties/PublishProfiles/greenbean - FTP.pubxml.user
QFGreenBean/Properties/PublishProfiles/greenbean - Web Deploy.pubxml
QFGreenBean/Properties/PublishProfiles/greenbean - Web Deploy.pubxml.user
QFGreenBean/QFGreenBean.csproj.user
QFGreenBean/QFGreenBean.csproj.user
QFGreenBean/Web.config
